<h1>About</h1>

<div class="about">
<p>WDI Project 1 by <a style="color: #4099FF;"href="http://www.twitter.com/deelizzles">Dennis Liaw</a></p>

<p>Check all of your gaming streams in one site!</p>

<p>This page aggregates the gaming streams from <a style="color: #D8C2FF;" href="http://www.twitch.tv">Twitch</a> and <a style="color: #BCE9AE;" href="http://www.hitbox.tv">Hitbox</a> in one place and lets you search streams by game to watch like a cliche super villain.</p>

<p>Feel free to check out the code on <a style="color: gray;" href="https://github.com/CentroDL/karnak">Github</a></p>
</div>

