<div class="search">
  <h1>All of Your Gaming Streams in one place..</h1>
  <form method="post" action="/games">
    <label>
      <input type=text name="game" required>
      <input type=submit value="Find Streams" id="search-butt">
    </label>
  </form>
</div>

<div class="twitch-feed">
<h1>Top Games on Twitch</h1>

<% if @top_games %>
<% @top_games.each do |game| %>
  <a href="/games/<%= game["game"]["name"] %>">
    <div class="top" style="background-image: url(<%= game["game"]["box"]["large"] %>);">
      <h1><%= game["viewers"]%> Viewers</h1>
    </div>
  </a>
<% end %>
<% end %>
</div>
