<!doctype html>
<html>
<head>
	<title>Karnak</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>


    <div class="header">

        <h1>Karnak</h1>
        <ul>
          <li>About</li>
          <li>Log In</li>
        </ul>
    </div>


  <div class="content">
	 <%=yield%>
  </div>

</body>
</html>
