<!doctype html>
<html>
<head>
	<title>Karnak</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
	<%=yield%>
</body>
</html>