<div class="stream">
  <iframe
       src="<%= @stream[:channel_embed_url] %>"
       frameborder="0"
       scrolling="no"
       height="<%= @stream[:embed_height] %>"
       width="<%= @stream[:embed_width] %>">
    </iframe>

    <p>If there's no stream do this:</p>
    <img src="http://i.stack.imgur.com/0UBPw.png">
</div>
