<div class="stream">

  <% if flash[:error] %>
  <div style="color: red;"><%= flash[:error] %></div>
  <% end %>

  <iframe
       src="<%= @stream[:channel_embed_url] %>"
       frameborder="0"
       scrolling="no"
       height="<%= @stream[:embed_height] %>"
       width="<%= @stream[:embed_width] %>">
    </iframe>
</div>
