.header h1, .header ul, .header li{
  display: inline;
}
a, a:hover, a:visited{
  color: white;
  text-decoration: none;
}

li{
  list-style-type: none;
}

.header-cont{
}

.header{
  z-index: 5;
  position: fixed;
  top: 0px;
  width: 100%;
  height:50px;
  background: #000;
  color: #FFF;
  margin:0px auto;
}

body{
  font-family: "Arimo", "Arial", sans-serif;
  font-weight: 400;
}

.content{
  padding-top: 50px;
  width: 1130px;
  margin: 0 auto;
}

.game{
  width: 320px;
  height: 180px;
  display: inline-block;
  vertical-align: top;
  margin: 15px;
  text-align: center;
  color: white;
  position: relative;
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

.overlay{
  position: absolute;
  height: 100%;
  width: 100%;
}

.logo{
  width: 48px;
  border-radius: 24px;
  border: 1px solid gray;
}

.streamer-info{
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px 0px 0px 5px;
}

.streamer-info p{
  font-size: 1.5em;
  vertical-align: top;
  display: inline;
}

.results{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.overlay:hover{
  background: linear-gradient(  rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6));

}
.search{
  background: rgba(0,0,0, 0.3);
  width: 800px;
  margin: 0 auto;
  border-radius: 15px;
  color: white;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
}

.search form{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.search input{
  color: black;
}

.stream-link{
  padding:2px 0px 4px;
  display:block;
  width:345px;
  font-weight:normal;
  font-size:10px;
  text-decoration:underline;
}

.top{
  width: 272px;
  height: 379px;
  display: inline-block;
  vertical-align: top;
  color: white;
  text-shadow: 1px 1px 4px rgba(150, 150, 150, 0.5);
  margin: 5px;
  border-radius: 3px;
}

.top:hover{
  color: #A967C7;
}

.twitch-feed{
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

#search-butt{
  /* :P */
  background: #A967C7;
  border: none;
  border-radius: 3px;
}

.twitch{
  color: #D8C2FF;
}

.hitbox{
  color: #BCE9AE;
}

.game-name{
  position: absolute;
  top: 8%;
  left: 19%;
}
.channel-name{
  padding-top: 70px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.viewer-count{
  position: absolute;
  bottom:0px;
  right: 0px;
  margin-right: 5px;
}


