.header h1, .header ul, .header li{
  display: inline;
}
a, a:hover, a:visited{
  color: white;
  text-decoration: none;
}


.header-cont{
}

.header{
  position: fixed;
  top: 0px;
  width: 100%;
  height:50px;
  background: #000;
  color: #FFF;
  margin:0px auto;
}

body{
  font-family: "Arimo", "Arial", sans-serif;
  font-weight: 400;
}

.content{
  padding-top: 50px;
  width: 960px;
  margin: 0 auto;
}

.game{
  /*background-color: #D4AAED;*/
  /*width: 30%;*/
  /*height: 500px;*/
  display: inline-block;
  vertical-align: top;
  margin: 15px;
  text-align: center;
  border: solid 1px black;
  color: white;
}

.search{
  background: rgba(0,0,0, 0.3);
  width: 800px;
  margin: 0 auto;
  border-radius: 15px;
  color: white;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
}

.search form{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.search input{
  color: black;
}

.stream-link{
  padding:2px 0px 4px;
  display:block;
  width:345px;
  font-weight:normal;
  font-size:10px;
  text-decoration:underline;
}

.top{
  width: 272px;
  height: 379px;
  display: inline-block;
  vertical-align: top;
  color: white;
  text-shadow: 1px 1px 4px rgba(150, 150, 150, 0.5);
  margin: 5px;
  border-radius: 3px;
}

.top:hover{
  color: #A967C7;
}

.twitch{
  width: 900px;
  margin: 0 auto;
  text-align: center;
}



#search-butt{
  /* :P */
  background: #A967C7;
  border: none;
  border-radius: 3px;
}
